@import "../../../styles.scss";

:host {
  z-index: 10;
  @include fullwidth();
  @include center-in-row();

  background-color: var(--white);

  &.overlay {
    background-color: rgba($color: #000000, $alpha: .65);
  }
}
