version: '3.7'

services: 
    web:
        build: 
            context: frontend
            dockerfile: Dockerfile
            args: 
                env: prod
        ports: 
            - "8080:80"
        links:
            - back
    back:
        build: 
            context: backend
            dockerfile: Dockerfile
        command: ["./wait-for-it.sh", "db:5432", "--", "python", "manage.py", "runserver", "0.0.0.0:8000"]
        volumes:
            - ./backend:/medicar
        ports:
            - "8000:8000"
        links:
            - db
    db:
        image: postgres:11.5-alpine
        env_file:
            - ./database/.postgres.env
        volumes:
            - ./database/entrypoint:/docker-entrypoint-initdb.d
            - ./database/pgdata:/var/lib/postgresql/data